 img {
    height: 50px;
    width: 50px;
}
.box_chat img {
    object-fit: cover;
    border-radius: 50%;
}
:is(.users, .users-list) .content .details {
    color: #000;
    margin-left: 20px;
}:is(.users, .users-list) .details span {
     font-size: 18px;
     font-weight: 500;
 }
 .box_chat{
border: 1px solid #bbbbbb;

     border-radius: 10px;
     height: 231px;}
